#home{
    background-image:linear-gradient(rgba(0, 0, 0, .5)), url(../images/hero-bg.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.tittle{
    font-size:  3rem;
    font-weight: 500;
    color: #fff;
}

#home .container h3::before{
    content: "";
    color: #fff;
    animation: typing 15s ;
    -webkit-animation: typing 15s infinite;
}

#home .content h3{

}

@keyframes typing {
    1%   { content: "|"; }
    2%   { content: "F|"; }
    3%   { content: "Fr|"; }
    4%   { content: "Fre|"; }
    5%   { content: "Free|"; }
    6%   { content: "Freel|"; }
    7%   { content: "Freela|"; }
    8%   { content: "Freelan|"; }
    9%   { content: "Freelanc|"; }
    10%  { content: "Freelance|"; }
    11%  { content: "Freelancer|"; }
    12%  { content: "Freelancer|"; }
       /* Delete only "Freelancer." */
    15%  { content: "Freelance|"; }
    16%  { content: "Freelanc|"; }
    17%  { content: "Freelan|"; }
    18%  { content: "Freela|"; }
    19%  { content: "Freel|"; }
    20%  { content: "Free|"; }
    21%  { content: "Fre|"; }
    22%  { content: "Fr|"; }
    23%  { content: "F|"; }
    24%  { content: "|"; }

    /* Phrase 3: " Photographer.|" */
    27%  { content: "P|"; }
    28%  { content: "Ph|"; }
    29%  { content: "Pho|"; }
    30%  { content: "Phot|"; }
    31%  { content: "Photo|"; }
    32%  { content: "Photog|"; }
    33%  { content: "Photogr|"; }
    34%  { content: "Photogra|"; }
    35%  { content: "Photograph|"; }
    36%  { content: "Photographe|"; }
    37%  { content: "Photographer|"; }
    38%  { content: "Photographer|"; }
      /* Delete only "Photographer" */
    41%  { content: "Photographe|"; }
    42%  { content: "Photograph|"; }
    43%  { content: "Photograp|"; }
    44%  { content: "Photogra|"; }
    45%  { content: "Photogr|"; }
    46%  { content: "Photo|"; }
    47%  { content: "Phot|"; }
    48%  { content: "Pho|"; }
    49%  { content: "Ph|"; }
    50%  { content: "P|"; }
    51%  { content: "|"; }
    /* Phrase 4: " Designer.|" */
    54%  { content: "D|"; }
    55%  { content: "De|"; }
    56%  { content: "Des|"; }
    57%  { content: "Desi|"; }
    58%  { content: "Desig|"; }
    59%  { content: "Design|"; }
    60%  { content: "Designe|"; }
    61%  { content: "Designer|"; }
    62%  { content: "Designer|"; }
      /* Delete "Designer.|" */
    65%  { content: "Designe|"; }
    66%  { content: "Design|"; }
    67%  { content: "Desig|"; }
    68%  { content: "Desi|"; }
    69%  { content: "Des|"; }
    70%  { content: "De|"; }

    73%  { content: "De|"; }
    74%  { content: "Dev|"; }
    75%  { content: "Deve|"; }
    76%  { content: "Devel|"; }
    77%  { content: "Develo|"; }
    78%  { content: "Develop|"; }
    79%  { content: "Develope|"; }
    80%  { content: "Developer|"; }
    81%  { content: "Developer|"; }
      /* Delete "Designer.|" */
    84%  { content: "Develope|"; }
    85%  { content: "Develop|"; }
    86%  { content: "Develo|"; }
    87%  { content: "Devel|"; }
    88%  { content: "Deve|"; }
    89%  { content: "Dev|"; }
    90%  { content: "De|"; }
    91%  { content: "D|"; }
    /* Restart loop */
    100% { content: "|"; }
}


/******* Navbar *********/

.my-bg-color{
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar-nav .nav-link.active{
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);  
}

.navbar-brand{
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-link{
    color: #fff;
    font-size: 12px;
}

.nav-link:hover{
    color: #5ABDFF;
}

.nav-link:focus{
    color: #fff;
}

.dropdown-item {
    font-size: 12px;
}

/* *********** */

#about{
    background-color: #f1f1f1;
}

.info p{
    font-size: 12px;
}

.progress{
    height: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.about-me h5{
    position: relative;
    width: fit-content;
    margin-bottom: 30px;
}

.about-me h5::before{
    content: '';
    position: absolute;
    top: 150%;

    width: 100%;
    height: 4px;

    background-color: #0d6efd;
}

.about-me p{
    line-height: 1.5;
    font-size: 16px;
}

/* ************ */

#services{
    background-color: #f1f1f1;
}

.title h2{
    font-size: 40px;
    font-weight: bold;
}

.title p{
    font-size: 12px;
    position: relative;
}

.title p::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 150%;
    width: 10%;
    height: 5px;
    background-color: #0d6efd;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}


.service .icon{
    font-size: 32px;
    width: 80px;
    height: 80px;
    margin: 20px 0p;
    box-shadow: 0px 0px 0px 7px #0d6efd;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}


.service:hover .icon{
    background-color: #0d6efd;
    box-shadow: 0px 0px 0px 7px rgba(13, 110, 253, .5);
    color: white;
}

.service h3{
    font-size: 18px;
    text-transform: uppercase;
}

.service p{
    font-size: 12px;
}